header{
  top: 20px;
  height: calc(10vh - 20px);
  color: rgb(115, 8, 222);
  font-size: calc(5vh - 5px);
}
.container{
  padding:10px;
  width: 50%;
  border: 1px solid #73AD21;
  background-color: #32746A;
  margin: auto;
}
.App{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.list{
  display: inline-block;
}
.close{
  width:30px;
  height:30px;
  background-size: contain;
  border: none;
  border-radius: 8px;
  background-color: transparent;
}
.closenow{
  height: 30px;
  width:30px;
  bottom:10px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  border-radius: 8px;
  background-color:#e4ccf7;
  background-image: url('../public/delete.png');
}
.closenow:hover{
  scale:1.15
}
.closenow:active{
  scale:1.15;
}
.check{
  min-height: 5vh;
  width:2vw;
}
.todo{
  margin:20px;
  border:1px solid black;
  border-radius: 50px;
  background-color:#e4ccf7;
  width:30vw;
  height: 7vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3vmin;
}
.todo:hover{
  transform: scale(1.05);
}
.form{
  margin-top: 8vh;
  display: inline-flex;
  width: 30vw;
  justify-content: center;
  
}
.input{
  width: 70%;
  justify-self:baseline;
  margin:20px;
  border:2px solid rgb(98, 1, 217);
  border-radius: 10px;
  background-color:#ffffff;
  height: 7vh;
  justify-content: space-around;
  align-items: center;
  font-size: 3vmin;
  padding-left: 4%;
  
}
.add{
  width: 15%;
  justify-self:baseline;
  margin:20px;
  border:3px solid rgb(98, 1, 217);
  border-radius: 70px;
  background-color:#aba0ff;
  height: 7vh;
  justify-content: space-around;
  align-items: center;
  font-size: 3vmin;

}